@import "../variables.scss";
@import "../mixin.scss";

.block-heading {
  position: relative;
  display: block;
  width: 100%;
  text-transform: uppercase;
  color: $sea-foam-blue;
  font-size: 17px;
  line-height: 0.94;
  font-weight: 700;
}

.block-heading__text-wrapper {
  padding-right: 22px;
  background-color: white;
}

.block-heading::after {
  @include pseudo(100%, 1px);
  background-color: $sea-foam-blue;
  right: 0;
  top: 7px;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .block-heading {
    width: 167px;
    padding-top: 17px;
  }

  .block-heading::after {
    background-color: transparent;
  }

  .block-heading__text-wrapper {
    background-color: inherit;
  }
}

@media (min-width: $desktop-width) {
  .block-heading {
    width: 175px;
    text-align: center;
    padding-left: 6px;
    box-sizing: border-box;
  }
}
