.catalog__heading {
  margin-bottom: 30px;
}

.catalog__list {
  padding: 0 30px;
}

.catalog__item {
  margin-bottom: 30px;
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    justify-content: space-between;
  }

  .catalog__item {
    box-sizing: border-box;
    width: 315px;
  }
}
