@import "../sass/variables.scss";

.category-list__item {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 160px;
  padding-left: 30px;
  font-size: 19px;
  line-height: 1.26;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.category-list__item--interior {
  background-color: $sea-foam-blue;
}

.category-list__item--toys {
  background-color: $cat-dark;
}
