@import "../mixin.scss";
@import "../variables.scss";

.checkbox__label {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding-left: 62px;
  padding-top: 10px;
  min-height: 40px;
}

.checkbox__label::before {
  @include pseudo(40px, 40px);
  top: 0;
  left: 0;
  border: 2px solid $black;
}

.checkbox__input:checked + .checkbox__label::after {
  @include pseudo(20px, 10px);
  top: 13px;
  left: 13px;
  border-left: 2px solid $black;
  border-bottom: 2px solid $black;
  transform: rotate(-45deg);
}
