@import "../mixin.scss";

.contacts {
  @include container();
  padding-top: 37px;
  padding-bottom: 37px;
}

.contacts__heading {
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 16px;
}

.contacts__info {
  width: 100%;
  margin-bottom: 15px;
}

.contacts__info-param {
  width: 76px;
}

.contacts__info-param,
.contacts__info-data {
  box-sizing: border-box;
  vertical-align: baseline;
  padding-top: 8px;
  padding-bottom: 20px;
  line-height: 2;
}

.contacts__info-data a {
  color: #444444;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
  }
}

.contacts__map {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 35px;
  max-width: inherit;
}

.contacts__map iframe {
  border: 0;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 62px;
    padding-bottom: 58px;
    position: relative;
  }

  .contacts__heading {
    font-size: 43px;
    line-height: 1.16;
    margin-bottom: 36px;
  }

  .contacts__info tbody {
    display: flex;
  }

  .contacts__info-row {
    display: block;
    width: 50%;
  }

  .contacts__info-param,
  .contacts__info-data {
    font-size: 17px;
    line-height: 1.83;
    padding-bottom: 16px;
  }

  .contacts__info {
    margin-bottom: 34px;
  }

  .contacts__map {
    height: 457px;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 49px;
  }

  .contacts__button {
    width: 230px;
    display: block;
    margin: 0 auto;
  }

  .contacts::after {
    @include pseudo(47px,82px);
    top: 47px;
    right: 52px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 143px;
    padding-left: 219px;
    padding-right: 590px;
    padding-bottom: 105px;
    min-height: 457px;
  }

  .contacts__heading {
    font-size: 53px;
    line-height: 1.08;
    margin-bottom: 34px;
  }

  .contacts__info {
    margin-bottom: 54px;
  }

  .contacts__info-row {
    width: 100%;
  }

  .contacts__button {
    margin: 0;
    margin-left: 6px;
  }

  .contacts__map {
    width: 525px;
    height: auto;
    position: absolute;
    margin: 0;
    top: 74px;
    right: 50px;
  }

  .contacts__info tbody {
    display: table;
  }

  .contacts::after {
    left: 113px;
    top: 135px;
  }
}
