.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  font-size: 19px;
  line-height: 0.95;
  font-weight: 700;
  margin-right: 30px;
}

.copyright__link {
  font-size: 0;
  line-height: 0;
}
