.customer__name-heading {
  margin-bottom: 25px;
}

.customer__field {
  display: inline-block;
  margin-bottom: 20px;
}

.customer__field-label {
  display: inline-block;
  margin-bottom: 10px;
}

.customer__contacts-heading {
  margin-bottom: 5px;
}

.customer__adinfo-heading {
  margin-bottom: 20px;
}

.customer__contact {
  margin-bottom: 30px;
}

.customer__additional-info {
  margin-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .customer__name {
    display: flex;
  }

  .customer__name-wrapper {
    width: 100%;
  }

  .customer__field {
    display: flex;
  }

  .customer__contacts {
    background-color: $gray;
  }
}

