@import "../mixin.scss";
@import "../variables.scss";

.feedback {
  position: relative;
}

.feedback__container {
  @include container();
  position: relative;
  padding-top: 21px;
  padding-bottom: 48px;
}

.feedback__heading {
  margin-bottom: 24px;
}

.feedback__text {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
  line-height: 2;
}

.feedback__author {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.feedback__author-name {
  font-size: 17px;
  line-height: 1.41;
  font-weight: 700;
  color: $black;
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
}

.feedback__author-insta {
  font-size: 17px;
  line-height: 1.41;
  padding: 0;
  margin: 0;
}

.feedback__nav-buttons {
  display: flex;
  margin-bottom: 38px;
}

.feedback__nav-button {
  position: relative;
  width: 50%;
  min-height: 52px;
  display: inline-block;
  font-size: 0;
  border-color: $gray;
  background-color: transparent;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.feedback__nav-button--prev {
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border-right: none;
  position: relative;
}

.feedback__nav-button--prev::after {
  @include pseudo(1px, 100%);
  background-color: $gray;
  left: 100%;
  top: 0;
}

.feedback__nav-button--next {
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border-left: none;
}

.feedback::after {
  @include pseudo(100%, 6px);
  bottom: 0;
  left: 0;
  background-color: transparent;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: contain;
  background-position: bottom center;
}


@media (min-width: $tablet-width) {
  .feedback::after {
    height: 15px;
  }

  .feedback__container {
    padding-top: 69px;
    padding-bottom: 97px;
    background-image: url("../img/review@1x.jpg");
    background-position: left top;
    background-repeat: no-repeat;
  }

  .feedback__heading {
    margin-bottom: 40px;
  }

  .feedback__text {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 61px;
  }

  .feedback__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .feedback__author-name {
    letter-spacing: 0.7px;
  }

  .feedback__nav-buttons {
    width: 175px;
  }

  .feedback__nav-button {
    border-color: transparent;
  }

  .feedback__nav-button--prev::after {
    background-color: transparent;
  }

  .feedback__write-button {
    position: absolute;
    top: 79px;
    right: 50px;
    width: 175px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    padding-left: 50px;
    padding-bottom: 54px;
  }

  .feedback::after {
    height: 23px;
  }

  .feedback__container {
    padding-left: 175px;
  }

  .feedback__heading {
    margin-bottom: 51px;
  }

  .feedback__text {
    padding-right: 80px;
    margin-bottom: 41px;
  }

  .feedback__author-name {
    letter-spacing: normal;
  }
}
