.field__input {
  min-width: 260px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-bottom: 2px solid $black;
  font-size: 17px;
  line-height: 1.06;
}

@media (min-width: $tablet-width) {
  .field {
    display: flex;
  }

  .field__input {
    width: 100%;
  }

  .field__input--dark {
    background-color: $gray;
  }
}

