@import "../variables.scss";

.heading {
  color: $black;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .heading {
    font-size: 43px;
    line-height: 1.6;
  }
}

@media (min-width: $desktop-width) {
  .heading {
    font-size: 53px;
    line-height: 1.08;
  }
}
