@import "../mixin.scss";

.intro {
  width: 100%;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -16px;
  min-height: 490px;
  position: relative;
}

.intro__heading {
  padding: 72px 27px 125px;
  text-align: center;
  font-size: 27px;
  line-height: 1.11;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .intro {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

@media (min-width: $tablet-width) {
  .intro__wrapper {
    @include container();
    min-height: 744px;
    position: relative;
  }

  .intro {
    background: url("../img/hero-tablet@1x.jpg");
    background-size: cover;
    background-position: center -1px;
    border-top: 1px solid $gray;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .intro {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .intro::after {
    @include pseudo(100%, 34px);
    bottom: -11px;
    left: 0;
    background-color: transparent;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 1;
  }

  .intro__heading {
    padding-top: 152px;
    padding-bottom: 374px;
    font-size: 43px;
    line-height: 1.16;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-image: url("../img/hero-desktop@1x.jpg"), url("../img/bg-zigzag-fill.svg");
    background-size: cover, cover;
    background-position: center -2px, center bottom;
    min-height: 742px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .intro {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .intro::after {
    bottom: -20px;
    background-repeat: repeat;
  }

  .intro__heading {
    font-size: 53px;
    line-height: 1.08;
    padding-bottom: 359px;
  }
}
