.intro {
  width: 100%;
  background-color: #c9b9b9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -16px;
  min-height: 490px;
}

.intro__heading {
  padding: 72px 27px 95px;
  text-align: center;
  font-size: 27px;
  line-height: 1.11;
}

@media (min-width: $tablet-width) {
  .intro {
    background: url("../img/hero-tablet@1x.jpg");
    background-size: cover;
    background-position: center -2px;
    min-height: 744px;
  }

  .intro__heading {
    padding-top: 153px;
    padding-bottom: 344px;
    font-size: 43px;
    line-height: 1.16;
  }

  .intro__footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-image: url("../img/hero-desktop@1x.jpg"), url("../img/bg-zigzag-fill.svg");
    background-size: cover, cover;
    background-position: center -2px, center bottom;
    min-height: 742px;
  }

  .intro__heading {
    font-size: 53px;
    line-height: 1.08;
    padding-bottom: 328px;

  }
}
