@import "../variables.scss";
@import "../mixin.scss";

.item {
  border: 1px solid $gray;
  padding: 0;
}

.item__pic {
  box-sizing: border-box;
}

.item__data {
  box-sizing: border-box;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 23px;
  padding-bottom: 27px;
}

.item__name {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 1.41;
  font-weight: 700;
  color: $black;
  margin-bottom: 5px;
}

.item__info {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 2.31;
}

.item__description {
  margin-bottom: 20px;
}

.item__price-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $gray;
  padding-top: 20px;
}

.item__price {
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 700;
}

.item__add-to-cart {
  @include notext-button(21px,19px);
  background-image: url("../img/icon-cart.svg");
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .item {
    display: flex;
  }

  .item__pic,
  .item__data {
    width: 50%;
  }

/*-----------------------------------временно-----------------------------*/

  .item__pic {
    height: 333px;
  }

/*-------------------------------------------------------------------------*/

  .item__name {
    font-size: 20px;
    line-height: 1.2;
  }

  .item__info {
    font-size: 15px;
    line-height: 2;
  }

  .item__price {
    font-size: 17px;
    line-height: 1.41;
  }

  .item__price-wrapper {
    padding-top: 24px;
  }

  .item__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 26px;
  }
}

@media (min-width: $desktop-width) {
  .item {
    display: block;
  }

  /*-----------------------------------временно-----------------------------*/

.item__pic {
  height: 462px;
}

/*-------------------------------------------------------------------------*/

  .item__pic,
  .item__data {
    width: 100%;
  }

  .item__data {
    padding-top: 18px;
  }

  .item__description {
    margin-bottom: 13px;
  }

}
