.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
}

.modal--showing {
  display: block;
  position: fixed;
}

.modal--closed {
  display: none;
  position: relative;
}

.modal__form {
  position: absolute;
  top: calc(50% - 205px);
  left: calc(50% - 160px);
  width: 320px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 48px;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  background-color: #ffffff;
}

.modal__heading {
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.modal__description {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.modal__size-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal__radio-label {
  display: block;
  padding: 17px 33px;
  font-family: inherit;
  font-size: 17px;
  line-height: 0.94;
  font-weight: 700;
  background-color: transparent;
  border: solid;
  border-width: 2px;
  border-color: rgba($color: #444444, $alpha: 0.1);
  cursor: pointer;

  &:hover {
    border-color: rgba($color: #444444, $alpha: 0.3);
  }
}

.modal__radio-input:checked + .modal__radio-label {
  border-color: #62d1ba;
}

.modal__close {
  background-color: #63d1bb;
  color: white;
  border: none;
}

@media (min-width: $tablet-width) {
  .modal__form {
    width: 566px;
    padding: 32px 106px;
    padding-bottom: 47px;
    margin-left: -160px;
  }

  .modal__heading {
    font-size: 30px;
    line-height: 1.9;
  }

  .modal__description {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 23px;
  }

  .modal__radio-label {
    padding: 16px 49px;
  }

  .modal__size-list {
    margin-bottom: 32px;
  }
}
