@import "../variables.scss";

.order-form {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 28px;
  padding-bottom: 55px;
}

.order-form__description {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 1.85;
}

.order-form__note {
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .order-form__wrapper {
    padding-left: 133px;
    display: flex;
    justify-content: space-between;
  }

  .order-form__button {
    order: -1;
    width: 230px;
  }
}
