@import "../variables.scss";
@import "../mixin.scss";

.order-form {
  padding-top: 23px;
  padding-bottom: 53px;
}

.order-form__description {
  @include container();
  margin: 0;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 1.85;
}

.order-form__wrapper {
  @include container();
}

.order-form__note {
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .order-form {
    padding-top: 66px;
    padding-bottom: 51px;
  }

  .order-form__description {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 60px;
  }

  .order-form__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .order-form__button {
    order: -1;
    width: 230px;
  }

  .order-form__note {
    font-size: 17px;
    line-height: 1.76;
    padding-top: 10px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    padding-top: 108px;
    padding-bottom: 45px;
  }

  .order-form__description {
    padding-left: 225px;
    padding-right: 200px;
  }

  .order-form__wrapper {
    padding-left: 225px;
    padding-right: 225px;
  }
}

