@import "../variables.scss";

.page-footer {
  padding: 20px 30px;
  background-color: $gray;
}

.page-footer__social {
  border-bottom: 1px solid $gray-dark;
  margin-bottom: 22px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    display: block;
  }

  .page-footer {
    display: flex;
    justify-content: space-between;
  }
}
