@import "../variables.scss";
@import "../mixin.scss";

.page-footer {
  background-color: $gray;
}

.page-footer__wrapper {
  @include container();
  padding-top: 25px;
  padding-bottom: 25px;
}

.page-footer__social {
  padding-bottom: 50px;
  position: relative;
}

.page-footer__social::after {
  @include pseudo (100%, 1px);
  left: 0;
  bottom: 22px;
  background-color: $gray-dark;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    display: block;
  }

  .page-footer__logo[href]:hover {
    fill: #46c1ae;
  }

  .page-footer__logo[href]:active {
    opacity: 0.3;
  }

  .page-footer__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__social {
    padding-bottom: 0;
    padding-left: 78px;
  }

  .page-footer__social::after {
    display: none;
  }
}
