@import "../variables.scss";
@import "../mixin.scss";

.page-heading {
  position: relative;
  z-index: -1;
  background-color: $gray;
  text-align: center;
  color: $black;
  font-size: 27px;
  line-height: 1.11;
  font-weight: 700;
  padding-top: 72px;
  padding-bottom: 76px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-heading {
    font-size: 43px;
    line-height: 1.16;
    padding-top: 94px;
    padding-bottom: 87px;
  }

  .page-heading::after {
    @include pseudo(100%, 34px);
    bottom: -5px;
    left: 0;
    background-color: transparent;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .page-heading {
    font-size: 53px;
    line-height: 1.08;
    padding-bottom: 100px;
  }

  .page-heading::after {
    bottom: -20px;
  }
}
