@import "../variables.scss";

.page-footer {
  padding: 20px 30px;
}

.page-footer {
  background-color: $footer-bg;
}

.page-footer__social {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 22px;
}
