@import "../variables.scss";

.promo-item {
  padding: 30px;
}

.promo-item__name {
  margin-bottom: 5px;
}

.promo-item__type {
  text-transform: uppercase;
  color: $sea-foam-blue;
  font-size: 17px;
  line-height: 1.18;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.promo-item__description {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.promo-item__properties {
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 28px;
}

.promo-item__properties-param {
  width: 100px;
}

.promo-item__properties-param,
.promo-item__properties-data {
  padding: 10px 0;
  border-bottom: 1px solid $gray;
}

.promo-item__picture {
  margin-bottom: 27px;
}

.promo-item__price {
  font-size: 17px;
  line-height: 1.41;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
  width: 100%;
  text-align: center;
}

.promo-item__button {
  margin-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .promo-item__heading {
    display: flex;
    justify-content: space-between;
  }

  .promo-item__data {
    position: relative;
    padding-right: 378px;
  }

  .promo-item__picture {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (min-width: $desktop-width) {
  .promo-item__heading {
    justify-content: flex-start;
  }

  .promo-item__type {
    order: -1;
  }

  .promo-item__data {
    padding-left: 175px;
    padding-right: 582px;
  }
}
