.user-list__link-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 30px;
  padding-right: 45px;
  box-shadow: 0 1px 0 0 $gray, inset 0 1px 0 0 $gray;
}

.user-list__link {
  color: $black;
  text-decoration: none;
  font-size: 17px;
  line-height: 1.41;
  font-weight: 700;

  &:hover {
    color: rgba(0,0,0,0.6);
  }

  &:active {
    color: rgba(0,0,0,0.3);
  }
}

.user-list__link-icon {
  margin-right: 24px;
}

@media (min-width: $tablet-width) {
  .user-list__link-wrapper {
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 0;
    width: auto;
    box-shadow: inset 1px 0 0 0 $gray;
    margin-right: 7px;
  }

  .user-list__link-wrapper:last-of-type {
    margin-right: 0;
  }

  .user-list__link--search {
    font-size: 0;
    line-height: 0;
  }

  .user-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 500px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 430px;
  }
}
