.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__play {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 38px);
  border: none;
  background-color: transparent;
  font-size: 0;
  line-height: 0;
  width: 101px;
  height: 77px;
  background-image: url("../img/icon-play.svg");
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}
