@import "../sass/mixin.scss";
@import "../sass/variables.scss";

body {
  margin: 0;
  padding: 0;
  font-family: $font-open-sans;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  color: $black-light;
  background-color: #ffffff;
//  width: $mobile-width;
}

ul {
  @include list-style();
}
/*
@media (min-width: $tablet-width) {
  body {
    width: $tablet-width;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  body {
    width: $desktop-width;
    padding: 0 50px;
  }
}
*/
