$font-open-sans: "Open Sans", "Arial", sans-serif;
$black-light: #444444;
$black: black;
$sea-foam-blue: #63d1bb;
$cat-dark: #56c3b2;
$gray: #f1f1f1;
$gray-dark: #e5e5e5;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
